<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="" class="navbar-brand mx-auto">Editar</a>
    </nav>

    <div class="row">
        <div class="container">
            <div class="row">
                <h2>Edición de Registro</h2>
            </div>
            <form action="/edit_registro/<%= news[0].id %>" method="post">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Comentario</label>  
                            <div class="col-md-4">
                            <textarea id="comment" name="comment" type="textarea" placeholder="placeholder" class="form-control input-md"><%= news[0].comment %></textarea>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="correo">Rating</label>  
                        <div class="col-md-4">
                            <input id="raiting" name="raiting" type="text" placeholder="placeholder" class="form-control input-md" value="<%= news[0].raiting %>">
                        </div>
                    </div>
                    <div class="form-group">  
                        <div class="col-md-4">
                            <input id="userId" name="userId" type="hidden" placeholder="placeholder" class="form-control input-md" value="">
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nuevoImplante"></label>
                        <div class="col-md-4">
                            <button type="submit" id="nuevoImplante" name="nuevoImplante" class="btn btn-primary">Guardar cambios</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
  </body>
</html>