<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="" class="navbar-brand mx-auto">News</a>
    </nav>

    <div class="row">
      <div class="col-md-6 mt-4 text-center">
        <table class="table table-striped table-bordered">
          <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Contenido</th>
            <th>Acciones</th>
          </tr>
          <% for (var i = 0; i < news.length; i ++) { %>
            <tr>
              <td><%= news[i].id %></td>
              <td><%= news[i].comment %></td>
              <td><%= news[i].raiting %></td>
              <td>
                <a class='btn btn-info btn-xs' target="_blank" href="/edit/<%= news[i].id %> " title='Editar registro' role='button' style="margin: 2px;"><span class='fa fa-window-close' aria-hidden='true' data-toggle='tooltip' data-placement='top'  style='color:white'></span></a>
                <a class='btn btn-danger btn-xs' title='Eliminar registro' onclick='eraseData("<%= news[i].id %>");' role='button' style="margin: 2px;"><span class='fa fa-window-close' aria-hidden='true' data-toggle='tooltip' data-placement='top'  style='color:white'></span></a>
              </td>
            </tr>
          <% } %>
        </table>
      </div>

      <div class="col-md-6 mt-4 card">
        <form class="card-body" action="/news" method="post">
          <h3 class="card-title">Agregar elemento</h3>
          <div class="form-group">
            <input name="title" type="text" class="form-control" placeholder="Titulo">
          </div>
          <div class="form-group">
            <input name="news" type="text" class="form-control" placeholder="Contenido">
          </div>
          <input type="submit" class="btn btn-primary">
        </form>
      </div>
    </div>
    <script>
      function eraseData(id){
        alert("¿Está seguro de eliminar el registro?");
        window.document.location='/bid_delete/'+id;
      }
    </script>
  </body>
</html>